
body {
    display: block;
    margin: 0 auto;
    font-family: roboto;
    text-align: center;
    justify-content: center;
    @include phone{
        width: 350px;
    }
    @include tablet{
        width: 750px;
    }
    @include desktop {
        width: 850px;
    }
}
