
body {
    display: block;
    margin: 0 auto;
    font-family: roboto;
    text-align: center;
    justify-content: center;
    min-width: 300px;
    @include phone{
        width: 100%;
    }
    @include tablet{
        width: 100%;
        max-width: 850px;
    }
    @include desktop {
        width: 100%;
        max-width: 850px;
    }
}
