
.restaurantSection{

display: block;   
align-content: center;
font-weight: bolder;
row-gap: 20px;
background-color: rgb(245, 245, 245);
margin: auto;


h2{
    text-align:justify; 
    padding-top: 40px;
    margin-bottom: -5px;
    margin: 2.5%;
    @include phone {
        padding-left: 18%; 
         
    }
    @include tablet {
        padding-left: 7.5%; 
         
    }
    @include desktop {
        padding-left: 7.5%; 
         
    }
    
    }


.restaurants{
    display: flex;   
    align-content: center;
    font-weight: bolder;
    row-gap: 20px;
    background-color: rgb(245, 245, 245);
    padding-bottom: 60px;
@include phone {
    flex-flow: column wrap; 
    min-width: 300px;
     
}
@include tablet {
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    column-gap: 10%;
    padding: 2.5%;
    padding-left: 10%;
    
}
@include desktop {
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    column-gap: 10%;
    padding: 2.5%;
    padding-left: 10%;
}




.card {
    width: 60%;
    max-width: 300px;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;  
    text-decoration: none; 
    color: black;
    border-radius: 20px;
    @include tablet {
        width: 280px;
    }
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        cursor: pointer;
    }
    

    .imgRestaurant{
        width: 100%;
        max-width: 300px;
        min-width: 200px;
        height: 150px;
        object-fit: cover;
        object-position: 0% 60% ;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        @include tablet {
            width: 280px;
        }
    }

    .container {
        margin-top: -10px;
        margin-bottom: -10px;
        margin-left: 20px;
        text-align: left;

        .fa-regular{
            position: relative;
            bottom: 10px;
            font-size: larger;
            float: right;
            margin-right: 20px;
            color: $primary;

        
        }
        .fa-solid{
            position: relative;
            bottom: 10px;
            font-size: larger;
            float: right;
            margin-right: 20px;
            color: $primary;
           
        }
        * > .fa-solid,
        *:hover > .fa-regular {
        display: none;
        
        }
        *:hover > .fa-solid {
        display: inline-block;
        animation: heartAnimation 1s ease-in-out;;
        }
        @keyframes heartAnimation {
            0%{
                opacity: 0;
                
                
              }
            100%{
                opacity: 1;
            }
        } 

       
    }

}

}

}