header {
    display: inline-block;

    .imgHeader{
        width: 200px;
        height: 35px;
        margin: 20px;
        
    }

    .mainInfo{
        @include tablet {
            display: grid;
            grid-template-columns: 50% 50% ;
            gap: 2%;
        }

        @include desktop {
            margin-left: -85px;
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 5%;
        }
    }

    .locationInfo {
        @include tablet {
            display: grid;
            grid-template-rows: 20% 80% ;
        }

        @include desktop {
            display: grid;
            grid-template-rows: 20% 80% ;
        }
    }

    .location{
        font-size: large;
        background-color: rgb(227, 225, 225);
        padding: 15px;

        .fa-location-dot{
            margin-right: 10px;
            
            
        }
    }

    .discover {
        padding: 10px;
        padding-bottom: 30px;
        background-color: rgb(245, 245, 245);
        div{
            font-size: medium;
            margin: 20px;
        }

        .exploreBt{
            background-image: linear-gradient($secondary, $primary);
            color: white;
            border:none;
            padding: 15px;
            border-radius: 100px;
            font-size: medium;
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
            &:hover {
                cursor: pointer;
                opacity: .85;
                box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;

            }
        }
    }

    .imgHeaderRestaurant{
        
        width: 200px;
        height: 35px;
        padding-bottom: 10px;
        padding-top: 20px;
        
    }

    .fa-arrow-left-long{
        font-size: 1em;
        position: relative;
        bottom: 20px;
        right: 60px;
    }

    .restaurantImg{
        object-fit: cover;
        max-width: 100%;
        min-width: none;
        height: 5%;
        object-position: 0% 65% ;
    }
    .howItWorks {
            
        text-align: left;
        justify-content: center;
        margin-bottom: 60px;
    
        span {
            position: relative;
            left: 15px;
            background-color: $primary;
            border-radius: 50%;
            padding: 2px;
            padding-right:6px;
            padding-left: 6px;
            color: white;
        }
    
         button{
            width: 300px;
            margin: 5px;
            padding: 7.5px;
            border-radius: 15px;
            border: none;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            text-align: left;
            &:hover {
                cursor: pointer;
                background-color: #e6d7f7;
                .fa-solid{
                    color: $primary;
                }
            }
    
            .fa-solid {
                margin: 15px;
                }
                
            
    
    
        }
    }
}


footer {
    max-width: 850px;
    min-width: 300px;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(64, 64, 64);
    color: white;
    row-gap: 5px;
    @include phone {
        width: 100%;
        text-align: left;
        display: flex;
        flex-flow: column wrap;
    }
    @include tablet {
        width: 100%;
        display: inline-flex;
        flex-flow: row;
        text-align: center;
    }
    @include desktop {
        width: 100%;
        display: inline-flex;
        flex-flow: row;
        text-align: center;
    }
    
    .imgFooter{
        width: 100px;
        height: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }

    span{
        @include tablet{
            margin-left: 3%;
            margin-right: 3%;
        }
        @include desktop{
            margin-left: 3%;
            margin-right: 3%;

        }

        &:hover{
            cursor: pointer;
        }
        .fa-utensils{
            margin-right: 20px;
        }
        .fa-handshake{
            margin-right: 10px;
        }
    }

    .contact{
        color:white;
        text-decoration: none;
    }

}